@model MOGESP.Entities.Dominio.PrimerIngreso

@{
    ViewData["Title"] = "Editar Primer Ingreso";
}

<!DOCTYPE html>
<html>
<head>
    <title>Primer Ingreso Departamento</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <style>

        html, body {
            min-height: 100%;
        }

        body, div, #FormModificar, input, label {
            padding: 0;
            margin: 0;
            outline: none;
            font-family: Roboto, Arial, sans-serif;
            font-size: 13px;
            color: #000000;
            line-height: 22px;
        }

        /*Titulo Negro*/
        legend {
            color: #fff;
            background-color: #000000;
            padding: 3px 5px;
            font-size: 20px;
        }

        /*Caja que contiene el formulario*/
        .CajaFormulario {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: inherit;
            padding: 20px;
        }
        /*Form*/
        #FormModificar {
            width: 100%;
            padding: 20px;
            border-radius: 6px;
            background: #fff;
            box-shadow: 0 0 20px 0 #000000;
        }

        input {
            margin-bottom: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
        }

        input {
            width: calc(50% - 180px);
            padding: 10px;
        }

        select {
            width: 100%;
            padding: 7px 0;
            background: transparent;
        }

        .btn-block {
            float: left;
            margin-top: 10px;
            text-align: center;
            margin: 10px 10px 10px;
        }

        button {
            width: 150px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background: #ff6a00;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
        }

            button:hover {
                background: #de803d;
            }
    </style>

</head>
<body>

    <button type="button" class="btn btn-link" id="btnRetroceder" onclick="location.href='https://localhost:44338/ProcesoSeleccion/verPrimerosIngresos'"><i class="fas fa-long-arrow-alt-left"></i> Ver Primeros Ingresos</button>

    <h2 align="center">Primer Ingreso</h2>
    <br>
    <h4><i class="far fa-address-card"></i>   Editar Informaci&oacute;n Primer Ingreso</h4>


    <br>

    <div class="CajaFormulario" id="EditarPI">

        <form id="FormModificar" action="" method="post">

            <fieldset>

                <div class="form-row">

                    <div class="col-md-6">
                        <label>C&eacute;dula: </label>
                        <input class="form-control" id="cedulaInfo" type="text" name="cedulaInfo" disabled="disabled" value="@Model.Cedula" />
                    </div>
                    <div class="col-md-6">
                        <label>Nombre: </label>
                        <input class="form-control" id="nombreInfo" type="text" name="nombreInfo" value="@Model.Nombre" required />
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <label>Primer Apellido: </label>
                        <input class="form-control" id="primerApellido" type="text" name="primerApellido" value="@Model.PrimerApellido" required />
                    </div>
                    <div class="col-md-6">
                        <label>Segundo Apellido: </label>
                        <input class="form-control" id="segundoApellido" type="text" name="segundoApellido" value="@Model.SegundoApellido" required />
                    </div>
                </div>

                <br><br><br>
                <hr />

                <div class="form-row">
                    <div class="col-md-6">
                        <label>Sexo: </label>
                        <input class="form-control" id="sexo" type="text" name="sexo" disabled="disabled" value="@Model.Sexo" />
                    </div>
                    <div class="col-md-6">
                        <label>Direcci&oacute;n: </label><br>
                        <textarea name="direccion" id="direccion" rows="5" cols="50" value="@Model.Direccion" required></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label>N&uacute;mero Convocatoria: </label>
                        <input id="numConvocatoria" class="form-control" type="text" name="numConvocatoria" disabled="disabled" value="@Model.NumeroConvocatoria" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>N&uacute;mero Flujo: </label>
                        <input id="numFlujo" class="form-control" type="number" min="0" name="numFlujo" value="@Model.NumeroFlujo" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">

                        <label>Condici&oacute;n: </label>

                        <select id="condicion" name="condicion">

                            @foreach (var listaEstados in Model.ListaCondiciones)
                            {
                                <option value="@listaEstados">@listaEstados</option>
                            }

                        </select>

                    </div>

                    <div class="col-md-6 mb-3">
                        <i class="fas fa-calendar-alt"></i>
                        <label>Fecha Ingreso: </label>
                        <input id="fechaIngreso" class="form-control" type="text" disabled="disabled" name="fechaIngreso" value="@Model.FechaIngreso" />
                    </div>
                </div>

                <div style=" float: right; ">
                    <br><br><br>
                    <button type="submit" class="btn btn-success" id="btnAceptar" name="btnAceptar"><i class="far fa-check-circle"></i> Aceptar</button>
                    <button type="button" class="btn btn-danger" id="btnCancelar" name="btnCancelar" onclick="location.reload()"><i class="far fa-window-close"></i> Cancelar</button>
                </div>
            </fieldset>
        </form>
    </div>


</body>


</html>
