@using System.Data
@model DataSet

@{
    ViewData["Title"] = "HojaCitas";
}

<center><h2>Hoja de Citas</h2></center>
<hr />

<div align="center">
    Esconder:   <a class="toggle-vis" data-column="0">Primer Ingreso</a> - 
                <a class="toggle-vis" data-column="1">Psicologo(a)</a> - 
                <a class="toggle-vis" data-column="2">Fecha Cita</a> - 
                <a class="toggle-vis" data-column="3">Correo</a> - 
                <a class="toggle-vis" data-column="4">Asistencia</a>
</div>

<table id="citas" class="display table table-responsive">
    <thead>
        <tr>
            <th>Primer Ingreso</th>
            <th>Psicologo(a)</th>
            <th>Fecha Cita</th>
            <th>Correo</th>
            <th>Asistencia</th>
        </tr>
    </thead>
    @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                <td>@row["TN_IdPrimerIngreso"]</td>
                <td>@row["TC_NombrePsicologo"]</td>
                <td>@row["TF_FechaCita"]</td>
                <td>@row["TN_IdCorreoCita"]</td>
                <td>@row["TN_IdAsistencia"]</td>

            </tr>
        }

</table>


<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>


@section Scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#citas').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excelHtml5',
                    'pdfHtml5'
                ],
                info: false
            } );
        



            $('a').on( 'click', function (e) {
                e.preventDefault();
 
                // Get the column API object
                var column = table.column( $(this).attr('data-column') );
 
                // Toggle the visibility
                column.visible( ! column.visible() );
            });

        });
    </script>
}

