@using System.Data
@model DataSet

@{
    ViewData["Title"] = "HojaCitas";
}

<center><h2>Hoja de Citas</h2></center>
<hr />


<table id="citas" class="display table table-responsive">
    <thead>
        <tr>
            <th>Primer Ingreso</th>
            <th>Psicologo(a)</th>
            <th>Fecha Cita</th>
            <th>Correo</th>
            <th>Asistencia</th>
        </tr>
    </thead>
    @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                <td>@row["TN_IdPrimerIngreso"]</td>
                <td>@row["TC_NombrePsicologo"]</td>
                <td>@row["TF_FechaCita"]</td>
                <td>@row["TN_IdCorreoCita"]</td>
                <td>@row["TN_IdAsistencia"]</td>

            </tr>
        }

</table>


@section Scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#citas').DataTable();
        });

            @* 
                
            {
                "ajax": {
                    "url": "ControlFlujos/GetVerHojaCitas",
                    "type": "GET",
                    "datatype":"json"
                },
                "columns": [
                    { "data": "Primer Ingreso" },
                    { "data": "Psicologo(a)" },
                    { "data": "Fecha Cita" },
                    { "data": "Correo" },
                    { "data": "Asistencia"}
                ]
            }
               
              *@
    </script>
}

