@using MOGESP.Entities.Utilidades;
@model PaginadorGenerico<MOGESP.Entities.Dominio.Funcionario>


@{
	ViewData["Title"] = "Primeros Ingresos";
}

<!--Encabezado-->
<div class="col-md-12 col-xs-12 col-sm-12">
	<center>
		<h2>Funcionarios</h2>
	</center>
</div>

<br />
<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
	<hr />
</div>
<br />


@*CÓDIGO PARA EL FILTRO DE BÚSQUEDA*@
<div class="text-right form-inline">
	<form method="get" action=@Url.Action("verFuncionarios", "Ascensos" )>
		<div class="form-group">
			@Html.TextBox("buscar", null, new { @placeholder = "Filtrar",
			   @class = "form-control",
			   @AutoPostBack = "true"
		   })
		</div>
		<button class="btn glyphicon glyphicon-search" type="submit"></button>
	</form>
</div>
<br />
<!--Tabla verPrimeros Ingresos-->
<div class="table-responsive col-md-12 col-xs-12 col-sm-12" style="text-align: center; overflow-y: auto;">
	<table id="tablaPrimerosIngresos" class="table table-bordered table-responsive table-hover">
		<thead style="align-content: center;">
			<tr style=" background-color: #222;" class="btn-primary">
				<th class="border-top-left"></th>
				<th class="centrarTitulos">C&eacute;dula</th>
				<th class="centrarTitulos">Nombre Apellidos</th>
				<th class="centrarTitulos">Sexo</th>
				<th class="centrarTitulos">Correos</th>
				<th class="centrarTitulos">Tel&eacute;fonos</th>
				<th class="centrarTitulos border-top-right">Direcci&oacute;n</th>

			</tr>
		</thead>

		<tr style="background:#f1f1f1">

			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>


		@foreach (var funcionario in Model.Resultado)
			{
		<tr>
			<td>
				@Html.ActionLink("", "verPrimerIngresoEspecifico", new { buscar = "" },
							new { @class = "btn glyphicon glyphicon-hand-up", @title = "Seleccionar" })

			</td>
			<td>@funcionario.Cedula</td>
			<td> @funcionario.Nombre @funcionario.PrimerApellido @funcionario.SegundoApellido</td>
			<td> @funcionario.Sexo</td>
			<td>
				@foreach (var correo in funcionario.Correos)
				{
					<p>@correo</p>
				}
			</td>
			<td>
				@foreach (var telefono in funcionario.Telefonos)
				{
					<p>@telefono</p>
				}
			</td>
			<td> @funcionario.Direccion</td>
		</tr>
		}

	</table>
</div>

		<div class="col-md-12 col-xs-12 col-sm-12">
			@*CÓDIGO PARA EL PAGINADOR DE REGISTROS*@
	@if (@Model.Resultado.Count() > 0)
	{
		<span>
			<strong>@Model.TotalRegistros</strong> registros encontrados
		</span>
		<span>&nbsp;|&nbsp;</span>
		<span>
			Página <strong>@(Model.PaginaActual)</strong> de
			<strong>@Model.TotalPaginas</strong>
		</span>
		<span>&nbsp;|&nbsp;</span>
	}
	else
	{
		<span>No hay resultados para esta búsqueda</span>
		<span>&nbsp;|&nbsp;</span>
	}


	@*botones de paginación*@
	<center>
		@if (Model.PaginaActual > 1)
		{
			@Html.ActionLink("", "VerFuncionarios", new { pagina = 1 },
							new { @class = "btn btn-sm btn-primary glyphicon glyphicon-menu-left" })
			<span></span>
			@Html.ActionLink("Anterior", "VerFuncionarios", new { pagina = Model.PaginaActual - 1 },
							new { @class = "btn btn-sm btn-default" })
		}
		else
		{
			@Html.ActionLink("", "VerFuncionarios", new { pagina = 1 },
							new { @class = "btn btn-sm btn-default disabled glyphicon glyphicon-menu-left" })
			<span></span>
			@Html.ActionLink("Anterior", "VerFuncionarios", new { pagina = 1 },
							new { @class = "btn btn-sm btn-default disabled" })
		}
		<span></span>
		@if (Model.PaginaActual < Model.TotalPaginas)
		{
			@Html.ActionLink("Siguiente", "VerFuncionarios", new { pagina = Model.PaginaActual + 1 },
							new { @class = "btn btn-sm btn-default" })
			<span></span>
			@Html.ActionLink("", "VerFuncionarios", new { pagina = Model.TotalPaginas },
							new { @class = "btn btn-sm btn-primary glyphicon glyphicon-menu-right" })
		}
		else
		{
			@Html.ActionLink("Siguiente", "VerFuncionarios", new { pagina = Model.TotalPaginas - 1 },
							new { @class = "btn btn-sm btn-default disabled" })
			<span></span>
			@Html.ActionLink("", "VerFuncionarios", new { pagina = Model.TotalPaginas },
							new { @class = "btn btn-sm btn-default disabled glyphicon glyphicon-menu-right" })
		}
	</center>

	</div>

<div class="col-md-offset-11 col-xs-offset-11 col-sm-offset-11">
	<a class="btn btn-success plus" asp-controller="ProcesoSeleccion" asp-action="InsertarPrimerosIngresos"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span> </a>

</div>


